:root {
    --white: #eff1f5;
    --black: #4c4f69;
    --grey: #dce0e8;
    --light-grey: #e6e9ef;

    --light-red: #fe640b;
    --light-green: #a6d189;
    --light-yellow: #e5c890;
    --light-blue: #04a5e5;
    --light-cyan: #209fb5;
    --light-purple: #ea76cb;

    --red: #d20f39;
    --green: #40a02b;
    --yellow: #df8e1d;
    --blue: #1e66f5;
    --cyan: #179299;
    --purple: #8839ef;

    --fg4: #5c5f77;
    --fg3: #6c6f85;
    --fg2: #7c7f93;
    --fg1: #8c8fa1;
    --fg0: #9ca0b0;

    --bg4: #e6e9ef;
    --bg3: #dce0e8;
    --bg2: #ccd0da;
    --bg1: #bcc0cc;
    --bg0: #acb0be;
}
