:root {
    --white: #ebdbb2;
    --black: #1d2021;
    --grey: #928374;
    --light-grey: #a89984;

    --light-red: #fb4934;
    --light-green: #b8bb26;
    --light-yellow: #fabd2f;
    --light-blue: #83a598;
    --light-cyan: #8ec07c;
    --light-purple: #d3869b;

    --red: #cc241d;
    --green: #98971a;
    --yellow: #d79921;
    --blue: #458588;
    --cyan: #689d6a;
    --purple: #b16286;

    --bg0: #282828;
    --bg1: #3c3836;
    --bg2: #504945;
    --bg3: #665c54;
    --bg4: #7c6f64;

    --fg0: #fbf1c7;
    --fg1: #ebdbb2;
    --fg2: #d5c4a1;
    --fg3: #bdae93;
    --fg4: #a89984;
}
