:root {
    --fg-default: var(--fg);
    --bg-default: var(--bg);

    --palette-1: var(--red); 
    --palette-2: var(--green); 
    --palette-3: var(--yellow); 

    --palette-4: var(--blue); 
    --palette-5: var(--cyan); 
    --palette-6: var(--purple); 

    --palette-7: var(--white);

    --palette-8: var(--grey);

    --palette-9: var(--bright-red);
    --palette-10: var(--bright-yellow); 
    --palette-11: var(--bright-green); 

    --palette-12: var(--bright-blue); 
    --palette-12: var(--bright-cyan); 
    --palette-14: var(--bright-purple); 
}
