* {
    font-family: "JetBrainsMono Nerd Font";  
    overflow-x:hidden;
}

/* menu */
.menu {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0000006b;
    z-index: 100;
    /* border: 1px #ffffff33 solid; */
    /* box-shadow: 0px 0px 20px 0px #000000d1; */
    /* border-radius: 10px; */
    color: var(--white);
    backdrop-filter: blur(7px);
    display: flex;
    padding: 8px;
}

.menu h2 {
    margin: 4px;
    margin-right: 0;
}

#menuheader {
    z-index: 101;
}

.menu input[type=number] {
    border-radius: 4px;
    background: transparent;
    color: #ffffff;
    margin-left: 20px;
    border: 1px #ffffff33 solid;
}

:focus-visible {
    border: 1px #ffffff solid;
    outline: none;
}

.menubar {
    display: flex;
    flex-direction: column;
}

.menucontent {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menuheader button {
    background: #ffffff33;
    border: none;
    padding: none;
    margin-left: auto;
}

.barbutton {
    background: #ffffff33;
    border: none;
    padding: none;
}

/* SPLIT STYLES */
.terminal-split {
    --padding: 4px;
    flex-grow: 1;
    position: relative;
}

.terminal-split:focus {
    outline: none;
}

.tabs {
    border-bottom: 1px solid var(--bg2);
}

.tab:nth-child(2n) {
    background: var(--bg1);
}

.tab {
    background: var(--fg);
}

/* COMMAND STYLES */
.command {
    padding: var(--padding);
    padding-top: calc(var(--padding) * 2);
    padding-bottom: calc(var(--padding) * 2);
    position: relative;
}

.command-fatal, .command-not-found, .command-error {
    border-left-inline: var(--light-red) 2px solid; 
}

.command-button {
    background-color: var(--black);
    color: var(--white);
    border: none;
}

.command-bar {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    position: absolute;
    bottom: 1px;
    right: 1px;
    z-index: 1;
}

hr {
    border: none;
    border-top: 1px solid var(--bg4);
    margin: auto;
    width: calc(100% - 15px);
}

/* WINDOW STYLES */
.window-header {
    display: flex;
    justify-content: flex-end;
}

body {
    background-color: var(--black);
    margin: 0;
}

.header-button {
    background: black;
    color: #ffffff;
    border: none;
    margin-left: 5px;
}

.window-title {
    margin-top: 2px;
    margin-right: auto;
    margin-left: 10px;
}

.app, #main, html, body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app {
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.app:focus {
    border: none;
}

/* CURSOR STYLE */
.cursor {
    position: absolute; /* BAD */
    background: white;
    /*transition: left 0.1s ease-out, top 0.1s ease-out*/;
}

/* TEXT STYLES */
.cellspan {
    width: var(--cell-width);
    height: var(--cell-height);
    font-size: 14px;
    display: inline-block;
    overflow: visible;
}

dim {
    font-weight: lighter;
}

.doublesize .cellspan {
    font-size: 28px;
    width: calc(var(--cell-width) * 2);
    height: calc(var(--cell-height) * 2);
}

.cellline {
    display: block;
    height: var(--cell-height);
}

pre {
    margin: 0;
    color: var(--white);
    font-size: 0px;
    overflow: hidden;
}

span {
    color: var(--fg);
    background-color: var(--bg);
}

/*Cell Attributes*/
.bold {
    font-weight: bold;
}

.dim {
    font-weight: lighter;
}

.italic {
    font-style: italic;
}

.invert {
    color: var(--bg);
    background: var(--fg);
}

/*TODO combinations of the below 3*/
.strikethrough {
    text-decoration: line-through;
}

.overline {
    text-decoration: overline;
}

.underline {
    text-decoration: underline;
}

.wrapped {
    /* border? */    
}

.hide {
    color: transparent;
    background: transparent;
}

.superscript {
    vertical-align: top;
    font-size: 10px;
    text-align: center;
}

.subscript {
    vertical-align: bottom;
    font-size: 10px;
    text-align: center;
}

.blink {
    animation: blink 2s linear infinite;
}


.rapid-blink {
    animation: blink 0.9s linear infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    } 
}

/* .tabs { */
/*     width: 100%; */
/* } */

/*DEBUG MENU*/
.terminal-debug {
    height: 100%;
    border-left: 1px solid var(--bg4);
}

table {
    color: var(--white);
    font-size: 14px;
}

tr:nth-child(2n + 1) {
    /*background: var(--bg1);*/
}

tr:nth-child(2n) {
    background: var(--bg0);
}
