* {
    font-family: "JetBrainsMono Nerd Font";
    overflow-x: hidden;
}

.commandpalette {
    width: 400px;
    max-width: 90%;
    position: absolute;
    z-index: 100;
    min-height: 40px;
    background: var(--bg0);
    border-radius: 6px;
    box-shadow: 0 2px 2px 2px #00000033;
    top: 25px;
    left: calc(50vw - 200px);
    padding: 8px;
}

select {
    overflow: hidden;
    border: 1px solid var(--fg4);
    background: var(--bg0);
    color: var(--fg0);
    border-radius: 4px;
}

.menu option {
    padding-left: 16px;
    background: var(--bg0);
    accent-color: var(--fg0);

    &::before {
        content: "";
        font-size: 16px;
        left: -8px;
        position: relative;
    }
}

form {
    overflow: visible;
}

.keybindings {
    overflow: visible;
}

.menu option:checked {
    background: var(--bg4);
}

fieldset[name=Config] {
    border: none;
    padding: 0;
}

button {
    min-width: 30px;
    border: 1px solid var(--bg4);
    background: var(--bg0);
    color: var(--palette);
    border-radius: 4px;
}

.commandsearch {
    width: calc(100% - 16px);
    height: 25px;
}

.searchresults {
    max-height: 70vh;
    width: 100%;
    scroll-behavior: smooth;
    border: none;
    overflow: scroll;
    overflow-x: hidden;
}

.searchresults:focus-visible {
    border: none;
}

.searchresult {
    width: calc(100% - 22px);
    height: 30px;
    color: var(--fg0);
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    border-radius: 2px;
    font-size: 14px;
}

.searchresult:checked {
    background: var(--bg3);
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background: var(--bg1);
}

::-webkit-scrollbar-thumb {
    background: var(--bg3);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--bg4);
}

.keybutton {
    margin: 5px;
    padding-top: 0;
    min-width: 40px;
    height: 23px;
    overflow: hidden;
    border-radius: 0.25em;
    border: 1px solid var(--bg4);
    background: var(--bg0);
    color: var(--fg0);
    box-shadow: 0 2px 0 1px var(--fg2);
    position: relative;
    top: -1px;
}

input[type=checkbox] {
    appearance: none;
    background-color: var(--bg0);
    border-radius: 2px !important;
    width: 0.8rem;
    height: 0.8rem;
    margin: 0 !important;
}

input[type=color] {
    border: 1px solid var(--fg2);
    padding: 0;
    margin: 0;
}

input[type=checkbox]:checked {
    appearance: revert;
    accent-color: var(--fg4);
}

.keybutton:focus {
    box-shadow: 0 1px 0 0.5px var(--fg2);
    top: 1px;
}

.savebar button {
    margin: 4px;
    margin-top: 0px;
}

.menu option:checked {
    background-color: var(--fg4);
    color: var(--bg0);

    &::before {
        content: "";
    }
}

/* menu */
.menu {
    flex-grow: 1;
    flex-direction: "column";
    color: var(--fg0);
    backdrop-filter: blur(7px);
    display: flex;
}

.savebar {
    overflow: hidden;
    padding: 8px;
    border-top: 1px solid var(--fg0);
    height: 30px;
}

.menu h2 {
    margin: 4px;
    margin-right: 0;
}

#menuheader {
    padding: 4px;
    overflow: visible;
    z-index: 101;
}

input {
    border-radius: 4px;
    background: transparent;
    color: #ffffff;
    margin-left: 4px;
    margin-bottom: 4px;
    border: 1px var(--bg4) solid;
}

.formlist {
    margin-left: 10px;
}

:focus-visible {
    border: 1px #ffffff solid;
    outline: none;
}

.menubar {
    display: flex;
    flex-direction: column;
}

.menucontent {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 4px;
}

.menuheader button {
    background: #ffffff33;
    border: none;
    padding: none;
    margin-left: auto;
}

.barbutton {
    border: none;
    padding: none;
    background: none;
    color: var(--fg0);
}

.bardropdown {
    width: auto;
    height: auto;
    background: var(--bg1);
    position: absolute;
    border-radius: 5px;
    box-shadow: 0 0 8px 0 #00000055;
    z-index: 15;
    display: none;
}

.show {
    display: block !important;
}

.bardropdown button {
    background: none;
    color: var(--fg0);
    display: block;
    border: none;
}

.bardropdown button:hover {
    background: #00000033
}

/* SPLIT STYLES */
.terminal-split {
    --padding: 4px;
    flex-grow: 1;
    position: relative;
}

.terminal-split:focus {
    outline: none;
}

.tabs {
    border-bottom: 1px solid var(--bg2);
    min-height: 20px;
    --tab-colour: var(--bg0);
    overflow-x: visible;
}

.tab:hover {
    --tab-colour: var(--bg0);
}

.tabtext {
    text-overflow: clip;
    max-width: 100px;
}

.tab {
    background: var(--tab-colour);
    margin-right: 4px;
    margin-left: 4px;
    border-radius: 4px 4px 0 0;
    position: relative;
    overflow-x: visible;
}

.tab::before {
    content: "";
    position: absolute;
    background-color: transparent;
    width: 4px;
    height: 4px;
    left: -4px;
    bottom: 0;
    z-index: 100;
    box-shadow: 4px 4px 0 4px var(--tab-colour);
    border-bottom-right-radius: 20px;
}

.tab::after {
    content: "";
    position: absolute;
    background-color: transparent;
    width: 4px;
    height: 4px;
    right: -4px;
    bottom: 0;
    z-index: 100;
    box-shadow: -4px 4px 0 4px var(--tab-colour);
    border-bottom-left-radius: 20px;
}

/* COMMAND STYLES */
.command {
    padding: var(--padding);
    padding-top: calc(var(--padding) * 2);
    padding-bottom: calc(var(--padding) * 2);
    position: relative;
}

.command-fatal,
.command-not-found,
.command-error {
    border-left-inline: var(--light-red) 2px solid;
}

.command-button {
    background-color: var(--bg0);
    color: var(--fg0);
    border: none;
}

.command-bar {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    position: absolute;
    bottom: 1px;
    right: 1px;
    z-index: 1;
}

.colorinput {
    display: flex;
    align-items: center; /* Vertically align label and input */
    gap: 10px; /* Optional spacing between label and input */
    justify-content: space-between;
}

hr {
    border: none;
    border-top: 1px solid var(--bg4);
    margin: auto;
    width: calc(100% - 15px);
}

/* WINDOW STYLES */
.window-header {
    display: flex;
    justify-content: flex-end;
}

body {
    background-color: var(--bg0);
    margin: 0;
}

.header-button {
    background: black;
    color: #ffffff;
    border: none;
    margin-left: 5px;
}

.window-title {
    margin-top: 2px;
    margin-right: auto;
    margin-left: 10px;
}

.app,
#main,
html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app {
    overflow: hidden;
    display: flex;
}

.app:focus {
    border: none;
}

/* CURSOR STYLE */
.cursor {
    position: absolute;
    /* BAD */
    background: white;
    /*transition: left 0.1s ease-out, top 0.1s ease-out*/
    ;
}

/* TEXT STYLES */
.cellspan {
    width: var(--cell-width);
    height: var(--cell-height);
    font-size: 14px;
    display: inline-block;
    overflow: visible;
}

dim {
    font-weight: lighter;
}

.doublesize .cellspan {
    font-size: 28px;
    width: calc(var(--cell-width) * 2);
    height: calc(var(--cell-height) * 2);
}

.cellline {
    display: block;
    height: var(--cell-height);
}

pre {
    margin: 0;
    color: var(--fg0);
    font-size: 0px;
    overflow: hidden;
}

span {
    color: var(--fg0);
    background-color: var(--bg0);
}

/*Cell Attributes*/
.bold {
    font-weight: bold;
}

.dim {
    font-weight: lighter;
}

.italic {
    font-style: italic;
}

.invert {
    color: var(--bg0);
    background: var(--fg0);
}

/*TODO combinations of the below 3*/
.strikethrough {
    text-decoration: line-through;
}

.overline {
    text-decoration: overline;
}

.underline {
    text-decoration: underline;
}

.wrapped {
    /* border? */
}

.hide {
    color: transparent;
    background: transparent;
}

.superscript {
    vertical-align: top;
    font-size: 10px;
    text-align: center;
}

.subscript {
    vertical-align: bottom;
    font-size: 10px;
    text-align: center;
}

.blink {
    animation: blink 2s linear infinite;
}


.rapid-blink {
    animation: blink 0.9s linear infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* .tabs { */
/*     width: 100%; */
/* } */

/*DEBUG MENU*/
.terminal-debug {
    height: 100%;
    border-left: 1px solid var(--bg4);
}

table {
    color: var(--fg0);
    font-size: 14px;
}

tr:nth-child(2n + 1) {
    /*background: var(--bg1);*/
}

tr:nth-child(2n) {
    background: var(--bg0);
}
