:root {

}

* {
    font-family: "JetBrainsMono Nerd Font";   
}

body {
    background-color: #000000;
}

pre {
    margin: 0;
    height: 21px;
    color: white;
}

.window-header {
    display: flex;
    justify-content: flex-end;
}

.header-button {
    background: #222222;
    color: #ffffff;
    border: none;
}

