:root {
    --cell-width: 1000px;
    --cell-height: 1000px;
}

* {
    font-family: "JetBrainsMono Nerd Font";  
    overflow-x:hidden;
}

.app, #main, html, body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app {
    overflow: hidden;
}

.app:focus {
    outline: none;
}

/* flex? */
.terminal-split {
    height: 100%;
    width: 100%;
}

body {
    background-color: #000000;
    margin:0;
}

pre {
    margin: 0;
    color: white;
    font-size: 0px;
    overflow: hidden;
}

span {
    color: var(--fg);
    background-color: var(--bg);
}

.command-slice {
    border: 1px white;
    box-shadow: 1px 1px 0px 2px grey;
    margin-bottom: 8px;
}

.cellspan {
    /* max-width: var(--cell-width); */
    /* max-height: var(--cell-height); */
    font-size: 14px;
    display: inline-block;
    overflow: hidden;
}

::selection {
  color: var(--bg);
  background: var(--fg);
}

.command-output {
    font-weight: 100;
}

.window-header {
    display: flex;
    justify-content: flex-end;
}

.header-button {
    background: black;
    color: #ffffff;
    border: none;
    margin-left: 5px;
}

.window-title {
    margin-top: 2px;
    margin-right: auto;
    margin-left: 10px;
}

.cursor {
    position: absolute; /* BAD */
    background: white;
}
