:root {
    --fg-default: #ffffff;
    --bg-default: #000000;
}

* {
    font-family: "JetBrainsMono Nerd Font";  
    overflow-x:hidden;
}

.app, #main, html, body {
    width: 100%;
    height: 100%;
}

.app:focus {
    outline: none;
}

body {
    background-color: #000000;
    margin:0;
}

pre {
    margin: 0;
    color: white;
    font-size: 14px;
}

span {
    color: var(--fg);
    background-color: var(--bg);
}

::selection {
  color: var(--bg);
  background: var(--fg);
}

.window-header {
    display: flex;
    justify-content: flex-end;
}

.header-button {
    background: black;
    color: #ffffff;
    border: none;
    margin-left: 5px;
}

.window-title {
    margin-top: 2px;
    margin-right: auto;
    margin-left: 10px;
}
